.header{
    padding: 14px 28px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.left{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 14px;
}
.center{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.btn{
    border-radius: 8px;
    border: 2px solid #afafaf;
    padding: 14px 28px;
    background-color: transparent;
    cursor: pointer;
}
